doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- CSS STYLE EXTERNAL
        link(rel="stylesheet", href="../assets/css/main.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        //- JS LINK
        script(defer src="../assets/js/script.js") 
        title Category
    body 
        header.container.category_nav 
                .aside_menu 
                    nav 
                        section.sidebar 
                            a(href="#").dashboard
                                i.fa-solid.fa-bars
                                .logo 
                                    img(src="../assets/images/icons/Logo.svg", alt="Logo")
                                    span coin 
                            ol.nav-list 
                                li.nav-item
                                    a(href="/html/dashboard.html") 
                                        i.fa-solid.fa-table
                                        span Overview
                                li.nav-item.active
                                    a(href="/html/category.html") 
                                        i.fa-solid.fa-layer-group
                                        span Category
                                li.nav-item
                                    a(href="#").dropdown 
                                        i.fa-solid.fa-briefcase
                                        span Group
                                li.nav-item 
                                    a(href="./overview.html") 
                                        i.fa-solid.fa-user
                                        span Student    
                                li.nav-item 
                                    a(href="#").dropdown 
                                        i.fa-solid.fa-gift
                                        span Gift
                                    
                                li.nav-item 
                                    a(href="#") 
                                        i.fa-solid.fa-calendar
                                        span Exchange
                                li.nav-item
                                    a(href="#") 
                                        i.fa-solid.fa-envelope
                                        span Message
                                    span.message 8
                                li.nav-item 
                                    a(href="#") 
                                        i.fa-solid.fa-file
                                        span Documents
                .content
                    .profile_guide 
                        img(src="../assets/images/icons/ic_help.svg", alt="")
                        img(src="../assets/images/icons/Icon.svg", alt="")
                        img(src="../assets/images/Image.png", alt="")
                        .txt 
                            p Admina 
                            span Admin
        
                    .main_content 
                        section
                            h1 Hi Admin Admina
                            h2 Welcome back to Coin system dashboard
                            .search_info 
                                button(class='btn') + Add
                                .input_icon
                                    input(type='text', placeholder='Search...')
                                    i(class='fa fa-search icon')
                            h1 Category 
                            table
                                tr 
                                    th №
                                    th Photo
                                    th Name 
                                    th Description
                                    th P.L
                                    th Active
                                    th Action
                                    th
                                tr
                                    td 1
                                    td 
                                        img(src='../assets/images/img_admin.png', alt='img_admin')
                                    td Front-End
                                    td Tashqi qism
                                    td React
                                    td 
                                        input(type="checkbox", checked)
                                    td 
                                        button(class='btn_edit') Edit
                                    td 
                                        button(class='btn_delete') Delete
                                tr
                                    td 2
                                    td 
                                        img(src='../assets/images/img_admin.png', alt='img_admin')
                                    td Back-End
                                    td Orqa qism
                                    td Java
                                    td 
                                        input(type="checkbox", checked)
                                    td 
                                        button(class='btn_edit') Edit
                                    td 
                                        button(class='btn_delete') Delete
                                tr
                                    td 3
                                    td 
                                        img(src='../assets/images/img_admin.png', alt='img_admin')
                                    td Foundation
                                    td Boshlangich
                                    td C++
                                    td 
                                        input(type="checkbox", checked)
                                    td 
                                        button(class='btn_edit') Edit
                                    td 
                                        button(class='btn_delete') Delete
                                tr
                                    td 4
                                    td 
                                        img(src='../assets/images/img_admin.png', alt='img_admin')
                                    td 3D-max
                                    td Design
                                    td Adobe
                                    td 
                                        input(type="checkbox", checked)
                                    td 
                                        button(class='btn_edit') Edit
                                    td 
                                        button(class='btn_delete') Delete
                                tr
                                    td 5
                                    td 
                                        img(src='../assets/images/img_admin.png', alt='img_admin')
                                    td Front-End
                                    td Tashqi qism
                                    td JavaScript
                                    td 
                                        input(type="checkbox", checked)
                                    td 
                                        button(class='btn_edit') Edit
                                    td 
                                        button(class='btn_delete') Delete
                                tr
                                    td 6
                                    td 
                                        img(src='../assets/images/img_admin.png', alt='img_admin')
                                    td Front-End
                                    td Tashqi qism
                                    td JavaScript
                                    td 
                                        input(type="checkbox", checked)
                                    td 
                                        button(class='btn_edit') Edit
                                    td 
                                        button(class='btn_delete') Delete
                                tr
                                    td 7
                                    td 
                                        img(src='../assets/images/img_admin.png', alt='img_admin')
                                    td Front-End
                                    td Tashqi qism
                                    td JavaScript
                                    td 
                                        input(type="checkbox", checked)
                                    td 
                                        button(class='btn_edit') Edit
                                    td 
                                        button(class='btn_delete') Delete
                                tr
                                    td.border_left
                                    td 
                                    td 
                                    td 
                                    td 
                                    td 
                                    td 
                                    td.border_right 
                                  
                                