
<div class="admin-message--wrapper"> 
  <div class="admin-message"> 
    <h1 class="admin-message__heading">Hi Admin Admina</h1>
    <p class="admin-message__desc">Welcome back to Coin system group</p>
    <h2 class="message-heading">Message</h2>
    <div class="admin-message__add-btn--filter-wrapper"> 
      <button class="admin-message__add-btn">+Add</button>
      <div class="admin-message__filter--wrapper"> 
        <button class="admin-m__group-filter">Group...</button>
        <button class="admin-m__from-date-filter">from  date...</button>
        <button class="admin-m__to-date-filter">to  date...</button>
      </div>
    </div>
    <div class="admin-message__main-message-carts"> 
      <ol class="admin-message__list"> 
        <li class="admin-message__list__item"> <span class="admin-message__item--top"> 
            <h3 class="admin-message__item__heading">What is Lorem Ipsum?</h3><span class="admin-message__item__group--time--wrapper"> 
              <h4 class="admin-message__group-name">Group Name</h4>
              <p class="admin-message__time">11.12.2023 15:00 </p></span></span>
          <p class="admin-message__item__desc1">typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release <br/> of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop</p>
        </li>
        <li class="admin-message__list__item"> <span class="admin-message__item--top"> 
            <h3 class="admin-message__item__heading">What is Lorem Ipsum?</h3><span class="admin-message__item__group--time--wrapper"> 
              <h4 class="admin-message__group-name">Group Name</h4>
              <p class="admin-message__time">11.12.2023 15:00 </p></span></span>
          <p class="admin-message__item__desc1">typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release <br/> of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop</p>
        </li>
        <li class="admin-message__list__item"> <span class="admin-message__item--top"> 
            <h3 class="admin-message__item__heading">What is Lorem Ipsum?</h3><span class="admin-message__item__group--time--wrapper"> 
              <h4 class="admin-message__group-name">Group Name</h4>
              <p class="admin-message__time">11.12.2023 15:00 </p></span></span>
          <p class="admin-message__item__desc1">typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release <br/> of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop</p>
        </li>
        <li class="admin-message__list__item"> <span class="admin-message__item--top"> 
            <h3 class="admin-message__item__heading">What is Lorem Ipsum?</h3><span class="admin-message__item__group--time--wrapper"> 
              <h4 class="admin-message__group-name">Group Name</h4>
              <p class="admin-message__time">11.12.2023 15:00 </p></span></span>
          <p class="admin-message__item__desc1">typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release <br/> of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop </p>
        </li>
      </ol>
    </div>
  </div>
</div>