
<div class="gift-info-wrapper">
  <div class="gift-info"> 
    <div class="gift-info-top"> <img class="gift-info-profil-img" src="../assets/images/gift-info__profil-img.png" alt="rasm"/>
      <h1 class="gift-info-heading">Javokhir Koziboyev</h1>
      <p class="gift-info-group-name">Java-group</p><img class="gift-info__close-icon" onclick="closeBtn()" src="../assets/images/icons/ph_x-bold.svg" alt="icon"/>
    </div>
    <div class="gift-info-main"> 
      <div class="gift-info-main--left"><img class="gift-infomain--left__img" src="../assets/images/gift-info-main__img.png" alt="rasm"/></div>
      <div class="gift-info-main--right">
        <h3 class="gift-info-main--right__heading">Air-pods   50 c</h3>
        <p class="gift-info-main--right__date-time">11:25:30 11.12.2023</p>
        <div class="gift-info-main--right__checkbox--wrapper"> 
          <input class="gift-info__checkbox" type="checkbox" id="info-check"/>
          <label class="gift-info__checkbox--lable" for="info-check">Berildi...</label><br/>
        </div>
        <button class="gift-info__close-btn" onclick="closeBtn()">Close</button>
      </div>
    </div>
  </div>
</div>