
<header class="header"> 
  <div class="container"> 
    <div class="row"> 
      <nav class="navbar"> 
        <div class="logo"> <img src="../assets/images/icons/ep_coin.svg" alt="Logo"/>
          <h1>Coin Exchange</h1>
        </div>
        <ol class="nav-list"> 
          <li class="nav-item"> <a class="nav-link" href="#">About</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">Contact</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">Coins</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">Analytic</a></li>
          <li class="nav-item"> <a class="nav-link" href="../html/sign-in.html">Sign in</a></li>
        </ol>
      </nav>
    </div>
    <div class="hero"> 
      <h1>Edu Coin System</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
    </div>
  </div>
</header>