
<div class="section-right-main--body"> 
  <h1 class="teacher-category__heading">Hi Teacher</h1>
  <p class="teacher-category__welcome--desc">Welcome back to Coin system dashboard</p>
  <div class="add-btn--search-input-wrapper"> 
    <button class="add-btn" onclick="addTestOpenModal()">+Add</button>
    <form class="search-input--wrapper" action="search"> 
      <input class="teacher-category--main__search--input" type="text" placeholder="Search..."/><img src="../assets/images/icons/bi_search.svg" alt="rasm"/>
    </form>
  </div>
  <h2 class="category--heading">Category</h2>
  <table class="category-table"> 
    <tr class="category-table-row"> 
      <th class="category-table-head">№</th>
      <th class="category-table-head">Photo</th>
      <th class="category-table-head">Name</th>
      <th class="category-table-head">Describtion</th>
      <th class="category-table-head">P.L</th>
      <th class="category-table-head">Active</th>
      <th class="category-table-head">Action</th>
    </tr>
    <tr class="category-table-row"> 
      <td class="category-table-data">1</td>
      <td class="category-table-data"><img src="../assets/images/Ellipse 3.svg" alt="rasm"/></td>
      <td class="category-table-data">Front-Ent</td>
      <td class="category-table-data">Tashqi qism  </td>
      <td class="category-table-data">React</td>
      <td class="category-table-data category-table-data-active">
        <input type="checkbox"/>
      </td>
      <td class="category-table-data category-table-data-end"> 
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
      </td>
    </tr>
    <tr class="category-table-row"> 
      <td class="category-table-data">2</td>
      <td class="category-table-data"><img src="../assets/images/Ellipse 3.svg" alt="rasm"/></td>
      <td class="category-table-data">Back-End</td>
      <td class="category-table-data">Orqa qism </td>
      <td class="category-table-data">Java</td>
      <td class="category-table-data category-table-data-active">
        <input type="checkbox"/>
      </td>
      <td class="category-table-data category-table-data-end"> 
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
      </td>
    </tr>
    <tr class="category-table-row"> 
      <td class="category-table-data">3</td>
      <td class="category-table-data"><img src="../assets/images/Ellipse 3.svg" alt="rasm"/></td>
      <td class="category-table-data">Foudnation</td>
      <td class="category-table-data">Boshlangich </td>
      <td class="category-table-data">C++</td>
      <td class="category-table-data category-table-data-active">
        <input type="checkbox"/>
      </td>
      <td class="category-table-data category-table-data-end"> 
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
      </td>
    </tr>
    <tr class="category-table-row"> 
      <td class="category-table-data">4</td>
      <td class="category-table-data"><img src="../assets/images/Ellipse 3.svg" alt="rasm"/></td>
      <td class="category-table-data">3D-max</td>
      <td class="category-table-data">Design </td>
      <td class="category-table-data">Adobe</td>
      <td class="category-table-data category-table-data-active">
        <input type="checkbox"/>
      </td>
      <td class="category-table-data category-table-data-end"> 
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
      </td>
    </tr>
    <tr class="category-table-row"> 
      <td class="category-table-data">5</td>
      <td class="category-table-data"><img src="../assets/images/Ellipse 3.svg" alt="rasm"/></td>
      <td class="category-table-data">Front-Ent</td>
      <td class="category-table-data">Tashqi qism  </td>
      <td class="category-table-data">JavaScript</td>
      <td class="category-table-data category-table-data-active">
        <input type="checkbox"/>
      </td>
      <td class="category-table-data category-table-data-end"> 
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
      </td>
    </tr>
    <tr class="category-table-row"> 
      <td class="category-table-data">6</td>
      <td class="category-table-data"><img src="../assets/images/Ellipse 3.svg" alt="rasm"/></td>
      <td class="category-table-data">Front-Ent</td>
      <td class="category-table-data">Tashqi qism  </td>
      <td class="category-table-data">JavaScript</td>
      <td class="category-table-data category-table-data-active">
        <input type="checkbox"/>
      </td>
      <td class="category-table-data category-table-data-end"> 
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
      </td>
    </tr>
    <tr class="category-table-row"> 
      <td class="category-table-data">7</td>
      <td class="category-table-data"><img src="../assets/images/Ellipse 3.svg" alt="rasm"/></td>
      <td class="category-table-data">Front-Ent</td>
      <td class="category-table-data">Tashqi qism  </td>
      <td class="category-table-data">JavaScript</td>
      <td class="category-table-data category-table-data-active">
        <input type="checkbox"/>
      </td>
      <td class="category-table-data category-table-data-end"> 
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
      </td>
    </tr>
    <tr class="category-table-row">
      <td class="category-table-data"></td>
    </tr>
  </table>
</div>