.section-right-main--body-s
                    h1.teacher-category__heading Hi Admin Admina
                    p.teacher-category__welcome--desc Welcome back to Coin system group
                    h2.category--heading Student

                    .add-btn--search-input-wrapper 
                        button.add-btn +Add
                        
                        form(action="search").search-input--wrapper 
                            input.teacher-category--main__search--input(type="text" placeholder="Search...")
                            img(src="../assets/images/icons/bi_search.svg", alt="rasm")
                        
                    
                    .filter-button 
                        button All
                        button F-1 
                        button found-2 
                        button G-1
                        button G-4
                        button g_6
                    
                    .filter 
                        button Filter

                    .filter-info 
                        button FirstName...
                        button LasrName...
                        button Category
                        button Group...
                        button Teacher...
                        button PhoneNumber...
                        

                    table.category-table 
                        tr.category-table-row 
                            th.category-table-head №
                            th.category-table-head Name
                            th.category-table-head Describtion
                            th.category-table-head Coin
                            th.category-table-head Active
                            th.category-table-head Action
                        tr.category-table-row 
                            td.category-table-data 1
                            td.category-table-data F-1
                            td.category-table-data Zur guruh
                            td.category-table-data.group-coin 505
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 2
                            td.category-table-data Found-28
                            td.category-table-data Boshlangich
                            td.category-table-data.group-coin 403 
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 3
                            td.category-table-data Back-2
                            td.category-table-data Kuchli guruh 
                            td.category-table-data.group-coin 105
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 4
                            td.category-table-data Back-4
                            td.category-table-data Kuchli guruh 
                            td.category-table-data.group-coin 800
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 5
                            td.category-table-data F-2
                            td.category-table-data Zur guruh 
                            td.category-table-data.group-coin 305
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 6
                            td.category-table-data F-3
                            td.category-table-data Zur guruh  
                            td.category-table-data.group-coin 285
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete


                        tr.category-table-row 
                            td.category-table-data 7
                            td.category-table-data Back-5
                            td.category-table-data Kuchli qism 
                            td.category-table-data.group-coin 956
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end 
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row
                            td.category-table-data