.admin-message--wrapper 
                    .admin-message 
                        h1.admin-message__heading Hi Admin Admina
                        p.admin-message__desc Welcome back to Coin system group

                        h2.message-heading Message

                        .admin-message__add-btn--filter-wrapper 
                            button.admin-message__add-btn +Add

                            .admin-message__filter--wrapper 
                                button.admin-m__group-filter Group...
                                button.admin-m__from-date-filter from  date...
                                button.admin-m__to-date-filter to  date...

                        .admin-message__main-message-carts 
                            ol.admin-message__list 
                                li.admin-message__list__item 
                                    span.admin-message__item--top 
                                        h3.admin-message__item__heading What is Lorem Ipsum?
                                        span.admin-message__item__group--time--wrapper 
                                            h4.admin-message__group-name Group Name
                                            p.admin-message__time 11.12.2023 15:00 
                                    p.admin-message__item__desc1 typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release #[br] of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop

                                li.admin-message__list__item 
                                    span.admin-message__item--top 
                                        h3.admin-message__item__heading What is Lorem Ipsum?
                                        span.admin-message__item__group--time--wrapper 
                                            h4.admin-message__group-name Group Name
                                            p.admin-message__time 11.12.2023 15:00 
                                    p.admin-message__item__desc1 typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release #[br] of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop

                                li.admin-message__list__item 
                                    span.admin-message__item--top 
                                        h3.admin-message__item__heading What is Lorem Ipsum?
                                        span.admin-message__item__group--time--wrapper 
                                            h4.admin-message__group-name Group Name
                                            p.admin-message__time 11.12.2023 15:00 
                                    p.admin-message__item__desc1 typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release #[br] of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop

                                li.admin-message__list__item 
                                    span.admin-message__item--top 
                                        h3.admin-message__item__heading What is Lorem Ipsum?
                                        span.admin-message__item__group--time--wrapper 
                                            h4.admin-message__group-name Group Name
                                            p.admin-message__time 11.12.2023 15:00 
                                    p.admin-message__item__desc1 typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release #[br] of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 