.gift-section-right-main--body 
                    h1.teacher-gift__heading Hi Admin Admina
                    p.teacher-gift__welcome--desc Welcome back to Coin system group

                    h2.gift--heading Gift

                    .gift-search--wrapper
                        button(onclick="addTestOpenModal()").add-btn +Add

                        
                        form(action="search").search-input--wrapper 
                            input.teacher-category--main__search--input(type="text" placeholder="Search...")
                            img(src="../assets/images/icons/bi_search.svg", alt="rasm")

                    ol.teacher-gift__list 
                        li.teacher-gift__list__item 
                            a(href="#")
                                img.teacher-gift__item__img(src="../assets/images/teacher-gift__list-img.png", alt="rasm") 

                            h2.teacher-gift__item__heading Gift Name
                            p.teacher-gift__item__desc1 150 C
                            p.teacher-gift__item__desc2 Description
                            button.teacher-gift__item__btn(onclick="openModal()") Exchange


                        li.teacher-gift__list__item 
                            a(href="#")
                                img.teacher-gift__item__img(src="../assets/images/teacher-gift__list-img.png", alt="rasm") 

                            h2.teacher-gift__item__heading Gift Name
                            p.teacher-gift__item__desc1 150 C
                            p.teacher-gift__item__desc2 Description
                            button.teacher-gift__item__btn(onclick="openModal()") Exchange


                        li.teacher-gift__list__item 
                            a(href="#")
                                img.teacher-gift__item__img(src="../assets/images/teacher-gift__list-img.png", alt="rasm") 

                            h2.teacher-gift__item__heading Gift Name
                            p.teacher-gift__item__desc1 150 C
                            p.teacher-gift__item__desc2 Description
                            button.teacher-gift__item__btn(onclick="openModal()") Exchange


                        li.teacher-gift__list__item 
                            a(href="#")
                                img.teacher-gift__item__img(src="../assets/images/teacher-gift__list-img.png", alt="rasm") 

                            h2.teacher-gift__item__heading Gift Name
                            p.teacher-gift__item__desc1 150 C
                            p.teacher-gift__item__desc2 Description
                            button.teacher-gift__item__btn(onclick="openModal()") Exchange


                        li.teacher-gift__list__item 
                            a(href="#")
                                img.teacher-gift__item__img(src="../assets/images/teacher-gift__list-img.png", alt="rasm") 

                            h2.teacher-gift__item__heading Gift Name
                            p.teacher-gift__item__desc1 150 C
                            p.teacher-gift__item__desc2 Description
                            button.teacher-gift__item__btn(onclick="openModal()") Exchange


                        li.teacher-gift__list__item 
                            a(href="#")
                                img.teacher-gift__item__img(src="../assets/images/teacher-gift__list-img.png", alt="rasm") 

                            h2.teacher-gift__item__heading Gift Name
                            p.teacher-gift__item__desc1 150 C
                            p.teacher-gift__item__desc2 Description
                            button.teacher-gift__item__btn(onclick="openModal()") Exchange
                        
