.gift-info-wrapper
                    .gift-info 
                        .gift-info-top 
                            img.gift-info-profil-img(src="../assets/images/gift-info__profil-img.png", alt="rasm")
                            h1.gift-info-heading Javokhir Koziboyev
                            p.gift-info-group-name Java-group

                            img.gift-info__close-icon(onclick="closeBtn()" src="../assets/images/icons/ph_x-bold.svg", alt="icon")

                        .gift-info-main 
                            .gift-info-main--left
                                img.gift-infomain--left__img(src="../assets/images/gift-info-main__img.png", alt="rasm")
                            .gift-info-main--right
                                h3.gift-info-main--right__heading Air-pods   50 c
                                p.gift-info-main--right__date-time 11:25:30 11.12.2023
                                .gift-info-main--right__checkbox--wrapper 
                                    input.gift-info__checkbox(type="checkbox" id="info-check")
                                    label.gift-info__checkbox--lable(for="info-check") Berildi...
                                    br

                                button.gift-info__close-btn(onclick="closeBtn()") Close

