header.header 
    .container 
        .row 
            nav.navbar 
                .logo 
                    img(src="../assets/images/icons/ep_coin.svg", alt="Logo")
                    h1 Coin Exchange
                ol.nav-list 
                    li.nav-item 
                        a.nav-link(href="#") About
                    li.nav-item 
                        a.nav-link(href="#") Contact
                    li.nav-item 
                        a.nav-link(href="#") Coins
                    li.nav-item 
                        a.nav-link(href="#") Analytic
                    li.nav-item 
                        a.nav-link(href="../html/sign-in.html") Sign in
        .hero 
            h1 Edu Coin System
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        
        
