.section-right-main--body 
                    h1.teacher-category__heading Hi Teacher
                    p.teacher-category__welcome--desc Welcome back to Coin system dashboard

                    .add-btn--search-input-wrapper 
                        button(onclick="addTestOpenModal()").add-btn +Add
                        
                        form(action="search").search-input--wrapper 
                            input.teacher-category--main__search--input(type="text" placeholder="Search...")
                            img(src="../assets/images/icons/bi_search.svg", alt="rasm")
                        

                    h2.category--heading Category

                    table.category-table 
                        tr.category-table-row 
                            th.category-table-head №
                            th.category-table-head Photo
                            th.category-table-head Name
                            th.category-table-head Describtion
                            th.category-table-head P.L
                            th.category-table-head Active
                            th.category-table-head Action
                        tr.category-table-row 
                            td.category-table-data 1
                            td.category-table-data #[img(src="../assets/images/Ellipse 3.svg", alt="rasm")]
                            td.category-table-data Front-Ent
                            td.category-table-data Tashqi qism  
                            td.category-table-data React
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 2
                            td.category-table-data #[img(src="../assets/images/Ellipse 3.svg", alt="rasm")]
                            td.category-table-data Back-End
                            td.category-table-data Orqa qism 
                            td.category-table-data Java
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 3
                            td.category-table-data #[img(src="../assets/images/Ellipse 3.svg", alt="rasm")]
                            td.category-table-data Foudnation
                            td.category-table-data Boshlangich 
                            td.category-table-data C++
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 4
                            td.category-table-data #[img(src="../assets/images/Ellipse 3.svg", alt="rasm")]
                            td.category-table-data 3D-max
                            td.category-table-data Design 
                            td.category-table-data Adobe
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 5
                            td.category-table-data #[img(src="../assets/images/Ellipse 3.svg", alt="rasm")]
                            td.category-table-data Front-Ent
                            td.category-table-data Tashqi qism  
                            td.category-table-data JavaScript
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row 
                            td.category-table-data 6
                            td.category-table-data #[img(src="../assets/images/Ellipse 3.svg", alt="rasm")]
                            td.category-table-data Front-Ent
                            td.category-table-data Tashqi qism  
                            td.category-table-data JavaScript
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end  
                                button.edit-btn Edit
                                button.delete-btn Delete


                        tr.category-table-row 
                            td.category-table-data 7
                            td.category-table-data #[img(src="../assets/images/Ellipse 3.svg", alt="rasm")]
                            td.category-table-data Front-Ent
                            td.category-table-data Tashqi qism  
                            td.category-table-data JavaScript
                            td.category-table-data.category-table-data-active #[input(type="checkbox")]
                            td.category-table-data.category-table-data-end 
                                button.edit-btn Edit
                                button.delete-btn Delete

                        tr.category-table-row
                            td.category-table-data

